<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div th:replace="fragments/footer :: header">Header</div>

<div class="row1">
    <div class="row1content">
        <h2>About me</h2>
        I like to Party! Contact me.
    </div>
</div>

<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>